@model IEnumerable<Beer_Olympics.Team>
<head>
    <script src="~/Scripts/SscoreBoard.js"></script>

</head>

<table class="table" id="ScoreBoard">
    <thead>
        <tr>

            <th>
                Country
            </th>
            <th>
                Beer Pong
            </th>
            <th>
                Baseball
            </th>
            <th>
                Chugalug
            </th>
            <th>
                Corn Hole
            </th>
            <th>
                Speed Ball
            </th>
            <th></th>
        </tr>
    </thead>
<tbody></tbody>

</table>
