


<div style="background-color:#dee2e6" id="tabs-Home" class="tabsHome">
    <div>
        <ul>
            <li class="tab  tabsHome tabsHome-Scoreboard"><a href="#tabsHomeScoreboard">Scoreboard</a></li>
            <li class="tab tabsHome tabsHome-Brackets"><a href="#tabsHomeBrackets">Brackets</a></li>




        </ul>



    </div>
    <div id="tabsHomeBrackets">
        <div class="tabsbracket">
            <ul>
                <li class="tab  tabsHome tabsHome-Scoreboard"><a href="#tabsbeerpong">Beer Pong</a></li>
                <li class="tab tabsHome tabsHome-Brackets"><a href="#tabsHomeBrackets">Brackets</a></li>




            </ul>
            <div id="tabsbeerpong">
                @Html.Action("Beerpongbracket", "Games")

            </div>
        </div>
    </div>
    <div id="tabsHomeScoreboard">
        @Html.Action("Index", "Teams")

    </div>
  
</div>

<script>
    $(function () {

        $('.tabsHome, .tabsbracket').tabs();

    })



</script>