@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.13.1.min.js"></script>


    <script src="~/Scripts/jquery-bracket/dist/jquery.bracket.min.js"></script>
    <link href="~/Scripts/jquery-bracket/dist/jquery.bracket.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/Drawing-Tournament-Brackets-with-jQuery-Brackets-js/js/brackets.min.js"></script>*@
</head>

<body class="Tourneys">
    
    <div hidden>

        @Html.DropDownList("PlayerList", (IEnumerable<SelectListItem>)ViewBag.PlayerList, "", new { @class = "form-control players selectpicker maxwidth dropdown-menu.inner", id = "playername" })

    </div>
    <center>
        <div style="height: 600px; background-color:black ; background-image: url('../../content/rings.png'); background-repeat: no-repeat;" class="container Pong">
        </div>
    </center>
</body>
<script>

    Beerpong();


    function Beerpong() {
        $(".everypagefooter").hide();
        var Player01 = $('#playername').children('option:eq(1)').map(function (i, e) {

            return e.innerText

        }).get();
        var Player02 = $('#playername').children('option:eq(2)').map(function (i, e) {

            return e.innerText

        }).get();
        var Player03 = $('#playername').children('option:eq(3)').map(function (i, e) {

            return e.innerText


        }).get();
        var Player04 = $('#playername').children('option:eq(4)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player05 = $('#playername').children('option:eq(5)').map(function (i, e) {

            return e.innerText

        }).get();
        var Player06 = $('#playername').children('option:eq(6)').map(function (i, e) {

            return e.innerText

        }).get();
        var Player07 = $('#playername').children('option:eq(7)').map(function (i, e) {

            return e.innerText

        }).get();
        var Player08 = $('#playername').children('option:eq(8)').map(function (i, e) {

            return e.innerText

        }).get();
        var Player09 = $('#playername').children('option:eq(9)').map(function (i, e) {

            return e.innerText

        }).get();
        var Player10 = $('#playername').children('option:eq(10)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player11 = $('#playername').children('option:eq(11)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player12 = $('#playername').children('option:eq(12)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player13 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player10 = $('#playername').children('option:eq(10)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player11 = $('#playername').children('option:eq(11)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player12 = $('#playername').children('option:eq(12)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player13 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e == " " || e == null) {
                return "null"
            }
            else { return e.innerText }

        }).get();
        var Player14 = $('#playername').children('option:eq(10)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player15 = $('#playername').children('option:eq(11)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player16 = $('#playername').children('option:eq(12)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player17 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player18 = $('#playername').children('option:eq(10)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player19 = $('#playername').children('option:eq(11)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player20 = $('#playername').children('option:eq(12)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player21 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player22 = $('#playername').children('option:eq(10)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player23 = $('#playername').children('option:eq(11)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player24 = $('#playername').children('option:eq(12)').map(function (i, e) {

            return e.innerText

        }).get();

        var Player25 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();


        var Player26 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();

        var Player27 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player28 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player29 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player30 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player31 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player32 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player33 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player34 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player35 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player36 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player37 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player38 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player39 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player40 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player41 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player42 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player43 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player44 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player45 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player46 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player47 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player48 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player49 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }



        }).get();

        var Player50 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player51 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player52 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player53 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player54 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player55 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player56 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player57 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player58 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player59 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player60 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player61 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player62 = $('#playername').children('option:eq(13)').map(function (i, e) {
            
            if (e == "" || e == null) {
                return null
            }
            else { return e.innerText }

        }).get();
        var Player63 = $('#playername').children('option:eq(13)').map(function (i, e) {
            

        }).get();
        var Player64 = $('#playername').children('option:eq(13)').map(function (i, e) {

            if (e.innerText == "" || e.innerText == null) {
                return e.innerText = null
            }
            else { return e.innerText }


        }).get();
        var count = 0
        if (Player01 == "") {
            Player01 = null
            count++
        }
        if (Player02 == "") {
            Player02 = null
        }
        if (Player03 == "") {
            Player03 = null
        }
        if (Player04 == "") {
            Player04 = null
        }
        if (Player05 == "") {
            Player05 = null
        }
        if (Player06 == "") {
            Player06 = null
        }
        if (Player07 == "") {
            Player07 = null
        }
        if (Player08 == "") {
            Player08 = null
        }
        if (Player09 == "") {
            Player09 = null
        }
        if (Player10 == "") {
            Player10 = null
        }
        if (Player11 == "") {
            Player11 = null
        }
        if (Player12 == "") {
            Player12 = null
        }
        if (Player13 == "") {
            Player13 = null
        }
        if (Player14 == "") {
            Player14 = null
        }
        if (Player15 == "") {
            Player15 = null
        }
        if (Player16 == "") {
            Player16 = null
        }
        if (Player17 == "") {
            Player17 = null
        }
        if (Player18 == "") {
            Player18 = null
        }
        if (Player19 == "") {
            Player19 = null
        }
        if (Player20 == "") {
            Player20 = null
        }
        if (Player21 == "") {
            Player21 = null
        }
        if (Player22 == "") {
            Player22 = null
        }
        if (Player23 == "") {
            Player23 = null
        }
        if (Player24 == "") {
            Player24 = null
        }
        if (Player25 == "") {
            Player25 = null
        }
        if (Player26 == "") {
            Player26 = null
        }
        if (Player27 == "") {
            Player27 = null
        }
        if (Player28 == "") {
            Player28 = null
        }
        if (Player29 == "") {
            Player29 = null
        }
        if (Player30 == "") {
            Player30 = null
        }
        if (Player31 == "") {
            Player31 = null
        }
        if (Player32 == "") {
            Player32 = null
        }
        if (Player33 == "") {
            Player33 = null
        }
        if (Player34 == "") {
            Player34 = null
        }
        if (Player35 == "") {
            Player35 = null
        }
        if (Player36 == "") {
            Player36 = null
        }
        if (Player37 == "") {
            Player37 = null
        }
        if (Player38 == "") {
            Player38 = null
        }
        if (Player39 == "") {
            Player39 = null
        }
        if (Player40 == "") {
            Player40 = null
        }
        if (Player41 == "") {
            Player41 = null
        }
        if (Player42 == "") {
            Player42 = null
        }
        if (Player43 == "") {
            Player43 = null
        }
        if (Player44 == "") {
            Player44 = null
        }
        if (Player45 == "") {
            Player45 = null
        }
        if (Player46 == "") {
            Player46 = null
        }
        if (Player47 == "") {
            Player47 = null
        }
        if (Player48 == "") {
            Player48 = null
        }
        if (Player49 == "") {
            Player49 = null
        }
        if (Player50 == "") {
            Player50 = null
        }
        if (Player51 == "") {
            Player51 = null
        }
        if (Player52 == "") {
            Player52 = null
        }
        if (Player53 == "") {
            Player53 = null
        }
        if (Player54 == "") {
            Player54 = null
        }
        if (Player55 == "") {
            Player55 = null
        }
        if (Player56 == "") {
            Player56 = null
        }
        if (Player57 == "") {
            Player57 = null
        }
        if (Player58 == "") {
            Player58 = null
        }
        if (Player59 == "") {
            Player59 = null
        }
        if (Player60 == "") {
            Player60 = null
        }
        if (Player61 == "") {
            Player61 = null
        }
        if (Player62 == "") {
            Player62 = null
        }
        if (Player63 == "") {
            Player63 = null

        }
        if (Player64 == "") {
            Player64 = null
                ; count++
        }
        /* Custom data objects passed as teams */

      


        const customData = {
            teams: [
                [Player01, Player02],
                [Player03, Player04],
                [Player05, Player06],
                [Player07, Player08],




            ],

            results: [
                [ // WINNER BRACKET = $player-count / 2 = $teams_count
                    [[], [], [], [], [], [], [], []],
                    [[], [], [], []],
                    [[], []],
                    [[], []],
                    [[], []],
                    [[]]
                ],

                [ // FINALS
                    [[], []],

                ]
            ]
        }


        //const customData = {
        //    teams: [
        //        [Player01, Player02],
        //        [Player03, Player04],
        //        [Player05, Player06],
        //        [Player07, Player08],
        //        [Player09, Player10],
        //        [Player11, Player12],
        //        [Player13, Player14],
        //        [Player15, Player16],
        //        [Player17, Player18],
        //        [Player19, Player20],
        //        [Player21, Player22],
        //        [Player23, Player24],
        //        [Player25, Player26],
        //        [Player27, Player28],
        //        [Player29, Player30],
        //        [Player31, Player32],
        //        [Player33, Player34],
        //        [Player35, Player36],
        //        [Player37, Player38],
        //        [Player39, Player40],
        //        [Player41, Player42],
        //        [Player43, Player44],
        //        [Player45, Player46],
        //        [Player47, Player48],
        //        [Player49, Player50],
        //        [Player51, Player52],
        //        [Player53, Player54],
        //        [Player55, Player56],
        //        [Player57, Player58],
        //        [Player59, Player60],
        //        [Player61, Player62],
        //        [Player63, Player64]
        //    ],

        //    results: [
        //        [ // WINNER BRACKET = $player-count / 2 = $teams_count
        //            [[ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ]],
        //            [[ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ]],
        //            [[ ], [ ], [ ], [ ], [ ], [ ], [ ], [ ]],
        //            [[ ], [ ], [ ], [ ]],
        //            [[ ], [ ]],
        //            [[ ]]
        //        ],

        //        [ // FINALS
        //            [[ ], [ ]],

        //        ]
        //    ]
        //}fdrit


        $('.Pong').bracket({
            init: customData
        });

        $(' .Pong').bracket({
            init: customData, // data to initialize
            save: function () { }, // called whenever bracket is modified
            userData: null, // custom user data
            onMatchClick: null, // callback
            onMatchHover: null, // callback


            /* skipSecondaryFinal: true,*/
            skipGrandFinalComeback: false,
            skipConsolationRound: false,
            dir: 'lr', // "rl" or  "lr",
            disableToolbar: true,
            disableTeamEdit: true
            //teamWidth: '', // number
            //scoreWidth: '', // number
            //roundMargin: '', // number
            //matchMargin: '', // number
        });
    }
  
 
</script>