@model Beer_Olympics.Game

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <style>
        #draftboard {
            z-index: 9;
            background-color: white;
            text-align: center;
            padding-bottom: 10px;
        }

        #draftboardheader {
            padding: 10px;
            z-index: 10;
            text-align: center;
            color: Black;
            font-weight: bolder;
            font-size: 32px;
        }

        #playersbox {
            padding: 15px;
            z-index: 10;
            border: 1px solid black;
            text-align: center;
            color: white;
            font-weight: bolder;
            font-size: 35px;
        }

        #teamsbox {
            padding: 15px;
            z-index: 10;
            border: 1px solid black;
            text-align: center;
            color: black;
            font-weight: bolder;
            font-size: 35px;
        }
    </style>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="border:solid 2px black">

            <br />
            <div style="padding-top:10px" class="col">


                @*@Html.DropDownList("games", (IEnumerable<SelectListItem>)ViewBag.GamesList, "", new { @class = "form-control players selectpicker maxwidth dropdown-menu.inner", id = "gamename" })*@



            </div>

            <br />
            <div class="container-fluid" style="border: 1px solid black;">
                <div id="draftboardheader">Teams</div>
                <div style="" class="drafted row">

                </div>
            </div>

        </div>

        <br />
        <br />

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    $('.save').prop('disabled', true);
    $('#CreatePlayerButton').prop('disabled', true);
    Draftboard();
    function Draftboard() {
        var playerlist = {
            date: "2022"
        };
        $.ajax({
            type: "Post",

            url: "/Teams/PlayersList",
            data: JSON.stringify(playerlist),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (r) {
                var count = 1
                const table = $('.undrafted')
                table.html('');

                $.each(r.players, function (key, val) {
                    table.append('<div nowrap style="border: 5px solid lightgray" class=col-2 id="playersbox"><div class="player col-12" style=background-color:white;color:black;width:auto%><p>#' + count + '-' + val.Player_Name + '</p></div></div>')
                    /*table.append('<tr class=draftrow style=font-size:12px id=' + val.Player_ID + '><td>' + val.Player_Name + '</td>/<tr>')*/

                    count++
                })
            }
        });
    }
    Teams()
    function Teams() {
        var playerlist = {
            date: "2022"
        };
        $.ajax({
            type: "Post",

            url: "/Teams/TeamsList",
            data: JSON.stringify(playerlist),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (r) {
                var count = 1
                const table = $('.drafted')
                table.html('');

                $.each(r.teams, function (key, val) {

                    table.append('<div nowrap style="border: 5px solid lightgray" class=col-2 id="teamsbox"><span style=border-bottom:solid 1px  black>' + val.Team_Country + '<img style="width:48px;height:24px"src="' + val.Team_Flag + '"/></span><div class="player col-12" style=background-color:white;color:black;width:auto%><p style=font-size:20px>' + val.Team_Member_01 + '</p><p style=font-size:20px>' + val.Team_Member_02 + '</p><p style=font-size:20px>' + val.Team_Member_03 + '</p><p style=font-size:20px>' + val.Team_Member_04 + '</p><p style=font-size:20px>' + val.Team_Member_05 + '</p></div></div>')
                    /*table.append('<tr class=draftrow style=font-size:12px id=' + val.Player_ID + '><td>' + val.Player_Name + '</td>/<tr>')*/
                    $("p:contains('null')").hide();

                })
            }
        });
    }

    $('#count').val(0)
    $('.Random').on('click', function () {


        $('.players').val('')
        Countries();
        Players();


    });



    function Countries() {

        $.ajax({
            url: "https://restcountries.com/v3.1/all",
            jsonpCallback: "callback",
            dataType: "json",
            success: function (data) {
                arr2 = [];

                data.forEach(country => {
                    arr2.push(country.name.common + "~" + country.flags.png)

                    //$('#playerTeam' + (counter - 1)).append("<option value=" + country.name.common + ">" + country.name.common + "</option>")


                });
                var randomCountry = arr2[Math.floor(Math.random() * arr2.length)];
                const countryname = randomCountry.split('~')[0]
                const countryflag = randomCountry.split('~')[1]


                $('#playerTeam').val(countryname)
                $('#countryflag').val(countryflag)


            }
        });
    };

    function Players() {
        var playerlist = {
            date: "2022"
        };
        $.ajax({
            type: "Post",

            url: "/Teams/PlayersList",
            data: JSON.stringify(playerlist),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                arr = [];
                arr2 = [];
                $.each(data.players, function (key, value) {

                    if (value != null && value != "") {
                        arr.push(value.ID)


                    }


                });
                const generateRandomBetween = (exclude, exclude2, exclude3, exclude4) => {
                    let ranNum = arr[Math.floor(Math.random() * arr.length)];;

                    if (ranNum === exclude || ranNum === exclude2 || ranNum === exclude3 || ranNum === exclude4) {
                        ranNum = generateRandomBetween(exclude);
                    }

                    return ranNum;
                }

                var randomPlayer = arr[Math.floor(Math.random() * arr.length)];
                var randomPlayer2 = generateRandomBetween(randomPlayer, randomPlayer2, randomPlayer3, randomPlayer4);
                /*var randomPlayer2 = arr[Math.floor(Math.random() * arr.length)];*/
                var randomPlayer3 = generateRandomBetween(randomPlayer, randomPlayer2, randomPlayer3, randomPlayer4);
                var randomPlayer4 = generateRandomBetween(randomPlayer, randomPlayer2, randomPlayer3, randomPlayer4);
                var randomPlayer5 = generateRandomBetween(randomPlayer, randomPlayer2, randomPlayer3, randomPlayer4);

                $('#playername:visible').val(randomPlayer)
                $('#playername__:visible').val(randomPlayer2)
                $('#playername___:visible').val(randomPlayer3)
                $('#playername____:visible').val(randomPlayer4)
                $('#playername_____:visible').val(randomPlayer5)
                if ($('#playername').val() == null || $('#playername').val() == "") {
                    $('.save').prop('disabled', true);
                }
                else {

                    $('.save').prop('disabled', false);
                }

            },

            error: function () {



            }



        });




    };




    $('#playerNumber').on('change', function () {
        var playerCount = $('#playerNumber').val();

        if (playerCount == 1) {



            $('td:nth-child(5),th:nth-child(5)').hide();
            $('td:nth-child(6),th:nth-child(6)').hide();
            $('td:nth-child(7),th:nth-child(7)').hide();
            $('td:nth-child(8),th:nth-child(8)').hide();
        }
        else if (playerCount == 2) {
            $('td:nth-child(2),th:nth-child(2)').show();
            $('td:nth-child(3),th:nth-child(3)').show();
            $('td:nth-child(4),th:nth-child(4)').show();
            $('td:nth-child(5),th:nth-child(5)').show();
            $('td:nth-child(6),th:nth-child(6)').hide();
            $('td:nth-child(7),th:nth-child(7)').hide();
            $('td:nth-child(8),th:nth-child(8)').hide();


        }
        else if (playerCount == 3) {
            $('td:nth-child(2),th:nth-child(2)').show();
            $('td:nth-child(3),th:nth-child(3)').show();
            $('td:nth-child(4),th:nth-child(4)').show();
            $('td:nth-child(5),th:nth-child(5)').show();
            $('td:nth-child(6),th:nth-child(6)').show();
            $('td:nth-child(7),th:nth-child(7)').hide();
            $('td:nth-child(8),th:nth-child(8)').hide();


        }
        else if (playerCount == 4) {

            $('td:nth-child(2),th:nth-child(2)').show();
            $('td:nth-child(3),th:nth-child(3)').show();
            $('td:nth-child(4),th:nth-child(4)').show();
            $('td:nth-child(5),th:nth-child(5)').show();
            $('td:nth-child(6),th:nth-child(6)').show();
            $('td:nth-child(7),th:nth-child(7)').show();
            $('td:nth-child(8),th:nth-child(8)').hide();

        }
        else {
            $('td:nth-child(2),th:nth-child(2)').show();
            $('td:nth-child(3),th:nth-child(3)').show();
            $('td:nth-child(4),th:nth-child(4)').show();
            $('td:nth-child(5),th:nth-child(5)').show();
            $('td:nth-child(6),th:nth-child(6)').show();
            $('td:nth-child(7),th:nth-child(7)').show();
            $('td:nth-child(8),th:nth-child(8)').show();

        }



    })





    $('#playertable').on('click', '.save', function () {

        var teams = new Array();
        var team = {};


        team.Team_Flag = $('#countryflag').val(),
            team.Team_Country = $('#playerTeam').val(),
            team.Team_Member_01 = $('#playername option:selected').text(),
            team.Team_Member_02 = $('#playername__ option:selected').text(),
            team.Team_Member_03 = $('#playername___ option:selected').text(),
            team.Team_Member_04 = $('#playername____ option:selected').text(),
            team.Team_Member_05 = $('#playername_____ option:selected').text(),
            team.Olympics_Date = "07/23/2022"
        teams.push(team);

        $.ajax({
            type: "Post",

            url: "/Teams/SaveTeam",
            data: JSON.stringify(teams),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (r) {
                $(".players").each(function (i, obj) {
                    var players = {
                        Team_Country_ID: $('#playerTeam').val(),
                        ID: $(this).val(),

                    }



                    $.ajax({
                        type: "Post",

                        url: "/Teams/UpdatePlayer",
                        data: JSON.stringify(players),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $('.players').val('')
                            $('#playerTeam').val('')
                            $('#countryflag').val('')
                        }

                    });


                })
                Draftboard();
                Teams();
                $('.save').prop('disabled', true);
            }

        });
    })








    $('#CreatePlayer').on('keyup', function () {

        if ($(this).val().length > 2) {

            $('#CreatePlayerButton').prop('disabled', false);

        }
        else { $('#CreatePlayerButton').prop('disabled', true); }

    });




    $('#CreatePlayerButton').on('click', function () {

        var players = new Array();
        var player = {};


        player.Player_Name = $('#CreatePlayer').val(),

            player.Olympics_Date = "07/23/2022"
        players.push(player);

        $.ajax({
            type: "Post",

            url: "/Teams/CreatePlayer",
            data: JSON.stringify(players),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (r) {
                alertify.success($('#CreatePlayer').val() + ' Created')
                Draftboard();
                $('#CreatePlayerButton').prop('disabled', true);
            }



        });
    })
</script>