@model IEnumerable<Beer_Olympics.Team>
@*<head>

    <script src="~/Scripts/CustomScripts/Boatalug.js"></script>
    </head>*@
<style>
        /*    th.rotate {
            transform: rotate(-45deg);
            transform-origin: top left;
            font-size: 12px;
        }
    */
        .hide {
            display: none
        }
</style>

<table style="width:100%" class="table table-striped" id="SlipTime">
    <thead>
        <tr>

            <th class=rotate>Country</th>
            <th class=rotate>Round 1</th>

            <th class=rotate>Time</th>
            <th class=rotate>Place</th>


            <th hidden>Posted Score</th>
            <th hidden>Time</th>


        </tr>
    </thead>
    <tbody></tbody>

</table>

