@model IEnumerable<Beer_Olympics.Team>

<style>
/*    th.rotate {
        transform: rotate(-45deg);
        transform-origin: top left;
        font-size: 12px;
    }
*/
.hide{
    display:none
}
</style>
<h2>
    Scoreboard
</h2>
<table style="width:100%" class="table" id="ScoreBoard">
    <thead>
        <tr>
            <th class=rotate></th>
            <th class=rotate>Country</th>
            <th class=rotate>Beer Pong</th>
            <th class=rotate>Baseball</th>
            <th class=rotate>Chugalug</th>
            <th class=rotate>Corn Hole</th>
            <th class=rotate>Speed Ball</th>
            <th class=rotate>Boat Race</th>
            <th class=rotate>Civil War</th>
            <th class=rotate>Dizzy Bat</th>
            <th class=rotate>Flip Cup</th>
            <th class=rotate>High Noon</th>
            <th class=rotate>Slip N' Flip</th>
            <th class=rotate>Swim N'Shoot</th>
            <th class=rotate>Quarters</th>
            <th class=rotate>Pool Pig</th>
            <th class=rotate>Total Score</th>
            <th class=rotate>Place</th>

            <th hidden>Country</th>
            <th hidden>Beer Pong</th>
            <th hidden>Baseball</th>
            <th hidden>Chugalug</th>
            <th hidden>Corn Hole</th>
            <th hidden>Speed Ball</th>
            <th hidden>Boat Race</th>
            <th hidden>Civil War</th>
            <th hidden>Dizzy Bat</th>
            <th hidden>Flip Cup</th>
            <th hidden>High Noon</th>
            <th hidden>Slip N' Flip</th>
            <th hidden>Swim N'Shoot</th>
            <th hidden>Quarters</th>
            <th hidden>Pool Pig</th>
        </tr>
    </thead>
<tbody></tbody>

</table>
